<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> منصة رياضتي  </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/font-awesome/css/font-awesome.min.css ')}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ asset('Temps/https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css ')}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('Temps/dist/css/adminlte.min.css ')}}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/iCheck/flat/blue.css ')}}">
    <!-- Morris chart -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/morris/morris.css ')}}">
    <!-- jvectormap -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/jvectormap/jquery-jvectormap-1.2.2.css ')}}">
    <!-- Date Picker -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/datepicker/datepicker3.css ')}}">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/daterangepicker/daterangepicker-bs3.css ')}}">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="{{ asset('Temps/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css ')}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
            </li>

        </ul>

        <!-- SEARCH FORM -->
        <form class="form-inline ml-3">

            <div class="input-group input-group-sm">

                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">

                <div class="input-group-append">

                    <button class="btn btn-navbar" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <h4>فضاء المستخدم</h4>


        </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
            <img src="{{ asset('Temps/dist/img/AdminLTELogo.png')}}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
                 style="opacity: .8">
            <span class="brand-text font-weight-light">منصة رياضتي</span>
        </a>

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ asset('Temps/dist/img/user2-160x160.jpg') }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block"> {{ app.user.nomuser() }} </a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    <li class="nav-item has-treeview menu-open">
                        <a href="{{ path('user_index') }}"  class="nav-link">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                الصفحة الرئسية

                            </p>
                        </a>

                    </li>


                    <li class="nav-item has-treeview">
                        <a href="{{ path('annonces') }}" class="nav-link">

                            <p>
                                المنشورات
                            </p>
                        </a>
                    </li>






                    <li class="nav-item">
                        <a href="{{ path('index') }}" class="nav-link">
                            <i class="nav-icon fa fa-lock"></i>
                            <p>
                                الخروج
                                <span class="badge badge-info right"></span>
                            </p>
                        </a>
                    </li>







                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">

                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">

                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-12">


                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">اضافة منشور</h3>
                        </div>
                        <div class="container">

                            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


                                {{ form_label(form.title,"العنوان ") }}
                                {{ form_errors(form) }}
                                {{ form_widget(form.title) }}

                                 {{ form_label(form.content,"تفاصيل عن المنشور ") }}
                                 {{ form_errors(form) }}
                                 {{ form_widget(form.content) }}

                            {% set catArray = []  %}



                            {% for categorie  in categorie %}
                            {% for categorie in categorie.categories %}
                               {% if categorie not in catArray %}
                                  {% set catArray = catArray|merge([categorie]) %}
                            {% endif %}
                            {% endfor %}
                            {% endfor %}


                            <div class="wrap--outer">

                                <div>
                                    <div class="form-group" >
                                        <label for="exampleFormControlSelect1">صنف الرياضة  </label>
                                        <select size='2' class='form-control list filterSelect' data-target='select-name' id='select-family' data-allowempty>
                                            {% set s=0 %}
                                            {% for catArray  in catArray %}
                                            {% if catArray == "sportgp"  %}
                                                <option value='1'  data-reference='1' data-belongsto='1'> الرياضة الجماعية    </option>
                                            {% else %}
                                                <option value='2'  data-reference='2' data-belongsto='2'> الرياضة  الفردية </option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleFormControlSelect1">الرياضة المنشورة </label>
                                        <select size='5' class='form-control list' name='select-name' id='select-name'>
                                            {% for c in categorie %}
                                            {% for categorie in c.categories %}

                                                    {% if categorie == "sportgp"  %}
                                                 <option value='{{ c.id }}'  data-reference='2' data-belongsto='1'>
                                                      {{ c.nom }}
                                                 </option>
                                                        {% else  %}
                                                            <option value='{{ c.id }}'  data-reference='2' data-belongsto='2'>
                                                                {{ c.nom }}
                                                            </option>
                                                    {% endif %}


                                            {% endfor %}
                                            {% endfor %}

                                        </select>
                                    </div>

                                </div>

                            </div>

                            {{ form_label(form.lien,"الرابط الفيديو ") }}
                            {{ form_errors(form) }}
                            {{ form_widget(form.lien) }}

                                    {{ form_label(form.images," اضافة صورة ") }}
                                    {{ form_errors(form) }}
                                    {{ form_widget(form.images) }}


                            <div class="form-group">

                                <input  type="submit" class="btn btn-success"  value="التأكيد"/>
                                <input type="reset" class="btn btn-danger"  value="الغاء"/>
                            </div>





                            {{ form_end(form) }}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <strong>Copyright &copy; 2021 <a href="http://adminlte.io">Sport Indiv</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0
        </div>
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="{{ asset('Temps/plugins/jquery/jquery.min.js ')}}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{ asset('Temps/https://code.jquery.com/ui/1.12.1/jquery-ui.min.js')}}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{{ asset('Temps/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<!-- Morris.js charts -->
<script src="{{ asset('Temps/https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js')}}"></script>
<script src="{{ asset('Temps/plugins/morris/morris.min.js')}}"></script>
<!-- Sparkline -->
<script src="{{ asset('Temps/plugins/sparkline/jquery.sparkline.min.js')}}"></script>
<!-- jvectormap -->
<script src="{{ asset('Temps/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
<script src="{{ asset('Temps/plugins/jvectormap/jquery-jvectormap-world-mill-en.js')}}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ asset('Temps/plugins/knob/jquery.knob.js')}}"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js')}}"></script>
<script src="{{ asset('Temps/plugins/daterangepicker/daterangepicker.js')}}"></script>
<!-- datepicker -->
<script src="{{ asset('Temps/plugins/datepicker/bootstrap-datepicker.js')}}"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="{{ asset('Temps/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')}}"></script>
<!-- Slimscroll -->
<script src="{{ asset('Temps/plugins/slimScroll/jquery.slimscroll.min.js')}}"></script>
<!-- FastClick -->
<script src="{{ asset('Temps/plugins/fastclick/fastclick.js')}}"></script>
<!-- AdminLTE App -->
<script src="{{ asset('Temps/dist/js/adminlte.js')}}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('Temps/dist/js/pages/dashboard.js')}}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{{ asset('Temps/dist/js/demo.js')}}"></script>
<script src="{{ asset('https://code.jquery.com/jquery-1.12.4.min.js') }}"></script>
<script src="{{ asset('js/filterselect.js') }}"></script>
<script type="text/javascript">
    $('.filterSelect').filterSelect({
        allowEmpty: true
    });
</script>
</body>
</html>
